*{
    margin:0;
    padding:0;
} 
body{
    font-family:"Gabarito", serif;
    
}
.navbar{
    display:flex;
    justify-content:space-between;
    padding:10px;
    border-bottom:solid black 1px;
    position:sticky;
    top:0;
    background-color:rgb(171, 249, 223);
    z-index:1;

    

}
.navbar__s1{
    color:#892DE1
}
.navbar__s2{
    border:solid black 1px;
    width:60%;
    border-radius:30px;
    display:flex;
    padding:10px;
    gap:10px;
    background-color: white;
}
.navbar__s2 input{
    border:none;
    width:100%;
    font-size:16px;
    background-color: transparent;
}
.navbar__s2 input:focus{
    outline: none;
}

.navbar__s3{
    
    display:flex;
    gap:10px;
    align-items: center;
}
.logo__1{
    display:none;
}




.my-learning{
    position:relative;
    cursor:pointer;
    
}
.my-learning__s1{
    border:solid black 2px;
    width:150px;
    height:40px;
    padding:10px;
    position:absolute;
    right:0;
    top:30px;
    background-color:aquamarine;
    color:black;
    display:none;
}
    .my-learning:hover .my-learning__s1{
        display:block;
    }



.categories{
    display:flex;
    padding:10px;
    justify-content:space-around;
    border-bottom:solid black 1px;
}
.categories p{
    background-color:#892DE1;
    padding:5px;
    border-radius:30px;
    color:white;
    border:solid #892DE1 2px;
}
.categories p:hover{
    background-color:transparent;
    color:black;
    cursor:pointer;
    transition:1s;

}
.sale-image{
    position:relative;
    
    
}
.sale-image__offer{
    border:solid black 2px;
    width:fit-content;
    padding:10px;
    position:absolute;
    top:80px;
    left:80px;
    background-color:aquamarine;
    animation-name:zoom;
    opacity:0;
    animation-duration:2s;
    animation-fill-mode:forwards;
    
}



@keyframes zoom{
    0%{
        transform:scale(0);
        opacity:0;
        trasnsition:2s;
    }
    100%{
        transform:scale(1);
        opacity:1;
    }
}
.sale-image img{
    width:100%;

}
.recommended{
    padding:10px;
    gap:10px;
}
.recommended__container{
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;

}
.course-card{
    width:300px;
    margin:20px;
    

}
.course-card img{
    width:100%;
}
.topics{
    padding:10px;
}
.topics__title{
    padding-bottom:10px;
}
.topics__container {
    display:flex;
    gap:10px;
    flex-wrap:wrap;
    

}
.topics__container p{
    border:solid black 2px;
    margin:2px;
    width:200px;
    padding:10px;
    flex-basis:25%;
    flex-grow:1;
}
.popular{
   padding:10px;
    gap:10px;

}
.popular__container{
    display:flex;
    padding:10px;
    justify-content:space-between;
    margin-top:10px;
    flex-wrap:wrap;
    
}
.footer{
    padding:10px;
    
}
.footer__one{
    display:flex; 
}
.footer__one p{
    margin:20px;
}
.footer__one__s2,.footer__one__s1{
    padding:10px;
    
} 
.footer__two{
    display:flex;
    justify-content:space-between;
}
   /*media queries */

   @media screen and (max-width:800px){
    body{
        font-size: 10px;
    }
   }

   @media screen and (max-width:600px){
    .navbar__s2,.navbar__s3{
        display:none;
    }
    
    .categories{
        display :none;
    }

    .course-card{
        flex-basis:40%;
    }

   .logo__1{
    display:block;
   }
}
